.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-width: 320rem;
  min-height: 750rem;
  overflow: hidden;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-bottom: 20rem;
  font-weight: 800;
  font-size: 32rem;
}

.texts {
  margin-bottom: 27rem;
}

.text {
  font-weight: 400;
  font-size: 16rem;
  line-height: 100%;
}

.text:not(:last-child) {
  margin-bottom: 15rem;
}

.imageWrapper {
  position: relative;
  max-width: 564rem;
  width: 100%;
  height: 452rem;
  overflow: hidden;
  border-radius: 20rem;
}

.image {
  position: absolute;
  top: -13rem;
  left: -112rem;
  width: 677rem;
}

@media (max-height: 700px) {
  .about {
    min-height: 620rem;
  }

  .imageWrapper {
    height: 320rem;
  }

  .image {
    top: -63rem;
  }
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row-reverse;
    gap: 50rem;
  }

  .title {
    margin-bottom: 40rem;
    font-size: 64rem;
  }

  .text {
    font-size: 32rem;
    line-height: 107%;
  }

  .imageWrapper {
    max-width: 500rem;
    height: 500rem;
    border-radius: 30rem;
  }

  .image {
    top: -59rem;
    left: -94rem;
    width: 839rem;
  }
}
