.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  min-width: 320px;
  min-height: 500px;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 70px 20px 0;
}

.backgroundWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0 0 50px 50px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./img/background.webp");
  background-repeat: no-repeat;
  background-position: 35.2% center;
  background-size: cover;
  transform: scale(1.03);
}

.text {
  position: relative;
  z-index: 1;
  margin-top: 71px;
}

.title {
  max-width: 250px;
  margin-bottom: 42px;
  font-size: 64px;
  line-height: 1;
}

.subtitle {
  max-width: 320px;
  font-weight: 500;
  font-size: 20px;
}

@media (min-width: 768px) {
  .hero {
    min-height: 550px;
  }

  .wrapper {
    padding: 70px 40px 0;
  }

  .backgroundWrapper {
    border-radius: 0 0 100px 100px;
  }

  .background {
    background-position: 11.8% -33px;
    transform: scale(1.36);
  }

  .text {
    margin-top: 151px;
  }

  .title {
    max-width: 560px;
    margin-bottom: 46px;
    font-size: 80px;
  }

  .subtitle {
    max-width: 480px;
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  .hero {
    min-height: 650px;
  }

  .wrapper {
    padding: 70px 60px 0;
  }

  .background {
    background-position: -14% -34px;
  }

  .text {
    margin-top: 195px;
  }

  .title {
    margin-bottom: 40px;
    max-width: 700px;
    font-size: 96px;
  }

  .subtitle {
    max-width: 700px;
  }
}

@media (min-width: 1440px) {
  .hero {
    min-height: 730px;
  }

  .wrapper {
    padding: 70px 80px 0;
  }

  .background {
    background-position: center;
    transform: scale(1);
  }

  .text {
    margin-top: 92px;
  }

  .title {
    max-width: 1000px;
    margin-bottom: 45px;
    font-size: 128px;
  }

  .subtitle {
    font-size: 32px;
  }
}
