.galleryTitle {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  min-height: 170rem;
  background-color: var(--black);
  transform: translateY(0%);
  opacity: 0;
}

@supports (height: 100dvh) {
  .galleryTitle {
    height: 100dvh;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 32rem;
  font-weight: 800;
}

@media (min-width: 768px) {
  .title {
    font-size: 64rem;
  }
}
