:root {
  --white: #fff;
  --black: #000;
  --gradient: linear-gradient(
    90deg,
    #66d45d,
    #b7e359,
    #ebba5b,
    #b7e359,
    #66d45d
  );
}

@font-face {
  font-family: "Montserrat";
  src: url("./@assets/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./@assets/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./@assets/fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./@assets/fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./@assets/fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 1px;

  @media (min-width: 768px) {
    font-size: 0.07vw;
  }

  @media (min-width: 1440px) {
    font-size: 1px;
  }
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18rem;
  color: var(--white);
  text-wrap: balance;
  overflow: hidden;
  background-color: var(--black);
  -webkit-tap-highlight-color: transparent;
  touch-action: pan-x pan-y;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--white);
}

.container {
  max-width: 1440rem;
  width: 100%;
  padding: 0 20rem;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding: 0 80rem;
  }
}

@keyframes gradientFlow {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.highlight {
  animation: gradientFlow 4s linear infinite;
  background: var(--gradient);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

@keyframes inOutTop {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes inOutBottom {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

.sectionAnimation {
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  transition: opacity ease-in-out 300ms;
  pointer-events: none;
}

.inTop {
  animation-name: inOutTop;
  animation-direction: alternate-reverse;
}

.inBottom {
  animation-name: inOutBottom;
  animation-direction: alternate-reverse;
}

.activeSection {
  opacity: 1;
  pointer-events: all;
}
