.slider {
  position: relative;
  z-index: 1;
  user-select: none;
  overflow: hidden;
  cursor: pointer;
}

.slide {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 300ms linear;
}

.active {
  opacity: 1;
}

.dots {
  position: absolute;
  display: flex;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0.3;
  background-color: var(--white);
  border: none;
  transition: opacity 200ms ease-in-out;
}

.dot::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
}

@media (hover: hover) {
  .dot:not(.dotActive):hover {
    opacity: 0.6;
  }
}

.dot:not(:last-child) {
  margin-right: 20px;
}

.dotActive {
  opacity: 1;
}

.caption {
  position: absolute;
  font-weight: 500;
  font-size: 20px;
  text-shadow: 0 0 15px var(--black);
}

@media (min-width: 768px) {
  .dots {
    bottom: 6%;
  }

  .caption {
    font-weight: 500;
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  .dots {
    bottom: 4%;
  }
}

@media (min-width: 1440px) {
  .dots {
    bottom: 3%;
  }
}
